
h1{
    color: red;
    font-size: 80px;
    font-family: "gothicus", serif;
    text-align: center;
}
body{
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.intro p{
    font-size: 20px;
    text-align: center;
    margin: 90px;
}

h2{
    color: red;
    font-size: 40px;
    font-family: "gothicus", serif;
    text-align: center;
}

.thanks h2{
    Color: white;
    font-size: 40px;
    font-family: "battery-park", serif;
    font-weight: 400;
    font-style: normal;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    background-image: linear-gradient(darkred, black);
    font-size: 20px;
    font-family: "battery-park", serif;
    font-weight: 400;
    font-style: normal;
}

ul.nav{
    list-style-type: none;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
ul.nav li{
    float: left;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}
ul.nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 

ul.nav li a:hover:not(.active){
    color: white;
    border-style: inset;
    border-color: white;
    border-radius: 5px;
}
ul.nav li a.active{
    color: white;
    border-bottom: 3px dashed white;
}

.skip-to-main {
    background: white;
    height: 50px;
    left: 50%;
    padding: 5px;
    position: absolute;
    transform: translateY(-200%);
    transition: transform 0.5s;
}
.skip-to-main:focus {
    transform: translateY(0%);
}

img{
    border-width: 5px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%; 
    width: 100%; 
}

#frank, #mikey {
    flex-direction: row-reverse;
}

#gerard, #ray {
    flex-direction: row;
}

.members {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
    align-items: center;
}

.member {
    width: 75%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.member .info{
    object-fit: contain;
}

.member:hover {
    transform: translateY(-5px);
}

.member .image {
    width: 100%;
    height: 100%;
    position: relative;
}

.member .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;
}

.member .image .early {
    opacity: 0;
}

.member:hover .image .current {
    opacity: 0;
}

.member:hover .image .early {
    opacity: 1;
}

.allAlbums{
    display: grid;
    grid-template-columns: 1fr;
}

.album{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.album p{
    margin-right: 20%;
}

.album h2{
    grid-column: 1 / 3;
    text-align: center;
}

.albimg{
    width: auto;
    height: auto;
    border: 5px;
    border-radius: 10px;
    margin: 10px;
}

.mcrphoto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.mcrphotogallery{
    grid-column: 1 / 3;
}

.album ol{
    display: none;
}

#bullets{
    background-color: rgb(85, 18, 51);
    background-image: linear-gradient(black, rgb(85, 18, 51), darkred);
}

#revenge{
    background-color: darkred;
    background-image: linear-gradient(darkred, black);
}

#blackparade{
    background-color: black;
    background-image: linear-gradient(black, rgb(70, 70, 70));
}

#dangerdays{
    background-color: teal;
    background-image: linear-gradient(rgb(70, 70, 70), teal, teal, teal, black);
}

.album h2{
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

div.mcrphotogallery { 
    height: 300px;
    width: 100%; 
    margin: 2rem 10rem 2rem 10rem;
    position: relative;
}
div.mcrphotogallery img { 
    position: absolute; 
    width: auto; 
    height: 80%; 
    border: 10px solid #ffe; 
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2); 
    transform-origin: center 400px; 
    transition: all .6s linear; 
}
div.mcrphotogallery img:first-child { 
    transform: rotate(10deg);  
}
div.mcrphotogallery img:last-child { 
    transform: rotate(-10deg); 
}
div.mcrphotogallery:hover img:first-child { 
    transform: translateX(90%)rotate(25deg); 
}
div.mcrphotogallery:hover img:nth-child(2) { 
    transform: translateX(30%); 
}
div.mcrphotogallery:hover img:last-child { 
    transform: rotate(-25deg);  
}

.thanks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    font-size: 20px;
    margin: 50px;
}

.thanks h2{
    grid-column: 1 / 3;
    text-align: center;
}

.thanks p{
    grid-column: 1 / 3;
    text-align: center;
    margin: 5%;
    padding: 5%;
}

.thanks img{
    border-radius: 5px;
    grid-column: 1 / 3;
    max-height: 75%;
    max-width: 70%;
}

.spotify{
    margin: 10px;
    grid-column: 1 / 3;
}

.form{
    margin: 10px;
    grid-column: 1 / 3;
}

#album-modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
}

.modal-content {
    display: none;
    background-color: #fff;
    color: #000;
    padding: 20px;
    max-width: 50%;
    margin: 20% auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

@media screen and (prefers-reduced-motion: reduce){
    *{
        animation-duration: 6s;
        animation-iteration-count: 1;
        transition-duration: 6s;
    }
}

@media (min-width: 700px) {
    .member {
        flex-direction: column;
        align-items: flex-start;
    }

    .member .image {
        margin-bottom: 10px;
    }
    .thanks{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        align-items: center;
        font-size: 20px;
        margin: 50px;
    }
    .thanks h2{
        grid-column: 1 / 3;
        text-align: center;
    }
    
    .thanks p{
        grid-column: 2 / 3;
        text-align: center;
        margin: 5%;
        padding: 5%;
    }
    
    .thanks img{
        grid-column: 1 / 2;
        max-height: 80%;
        max-width: 80%;
    }
    
    .spotify{
        grid-column: 1 / 2;
    }
    
    .form{
        grid-column: 2 / 3;
    }
    .album{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    .album h2{
        grid-column: 1 / 3;
        text-align: center;
    }

    .album ol{
        display:contents;
        grid-column: 1 / 2;
    }

    .mcrphotogallery{
        grid-column: 2 / 3;
    }
}

